{% extends 'base.html.twig' %}

{% block title %} Coder clothes {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/orders.css') }}">{% endblock %}


{% block body %}

    <div class="profil-menu">
        <ul class="list-menu">
            <li><a href="{{ path('app_profile_index') }}">Mon profil</a></li>
            <li><a href="{{ path('app_profile_orders') }}" class="active">Commandes</a></li>
        </ul>
    </div>

    <ul class="lCommandes">
        {% for aorder in orders %}
            <li>
                <span> Numéro commande : {{ aorder.getReference() }}</span>
                <a href="">Voir plus </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}