{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/pCoupon.css') }}">{% endblock %}

{% block body %}
    <section style="min-height: calc(100vh - 450px);position: relative">
        <div style="position: absolute;inset: 0;width: max-content;height: max-content;margin: auto;font-size: 35px;text-align: center">
            <h1>Confirmation de commande n°{{ reference }}✅</h1>
            <a href="{{ path('main') }}" style="font-size: 25px">Retour à l'accueil</a>
        </div>
    </section>
{% endblock %}