{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/pCoupon.css') }}">{% endblock %}

{% block body %}
    <div style="min-height: calc(100vh - 635px)">
        <section class="coupon">
            <h1>Coupon de réduction : </h1>

            <div class="flex">
                <h3>Prix actuelle :  </h3>
                <span>{{ total/100 }} €</span>
            </div>

            <form action="#" method="post">
                <h3>Ajouter un coupon</h3>
                {% if error is defined and error %}
                    <p class="invalide">Coupon invalide</p>
                {% endif %}
                <input type="text" name="coupon" placeholder="Laisser vide si aucun" value="{% if coupon is defined %}{{ coupon }}{% endif %}">
                <input type="submit" value="Envoyer">
            </form>

        </section>
    </div>
{% endblock %}
