{% extends 'base.html.twig' %}

{% block title %} Ajouter un coupon {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">{% endblock %}

{% block body %}

<section>
    {% include "admin/navAdmin.html.twig" %}

    <main>
        {{ form_start(form, {'attr': {'class': 'coupon_form'}}) }}
        <h2>Ajouter un coupon : </h2>
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
        {{ form_end(form) }}

    </main>

</section>

{% endblock %}