{% extends 'base.html.twig' %}

{% block title %}Produit Introuvable{% endblock %}

{% block body %}
<div class="center">
    <section class="error">
        <h1>Erreur <pre> <404/></pre></h1>
        <p>Produit introubale</p>
    </section>
</div>
{% endblock %}