{% block stylesheets %}<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">{% endblock %}
<footer>
    <span class="logo"><pre>&lt;Coder/> </pre>Clothes</span>

    <div class="footer-a">
        <a href="{{ path('app_mentions_legales') }}">Mentions légales</a>
    </div>

    <div class="boxicon">
        <a href="/"><i class='bx bxl-github' style="color: white"></i></a>
        <a href="/"><i class='bx bxl-linkedin' style="color: white" ></i></a>
        <a href="/"><i class='bx bxl-instagram' style="color: white" ></i></a>
    </div>

</footer>