<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<header class="header">
    <a href="#" class="logo">Coder Clothes</a>
    <nav class="navbar">
        <a href="#">À propos de la marque</a>
        <a href="#">Contact</a>
        <a href="#"><i class='bx bx-shopping-bag'></i></a>
        <a href="#"><i class='bx bx-user-circle'></i></a>
    </nav>
</header>