*{
    font-family: Consolas;
}

.popup {
    display: block;
    position: fixed;
    top: -300px;
    left: 0;
    right: 0;
    min-width: 450px;
    width: max-content;
    background-color: #007bff;
    padding: 20px;

    color: #fff;

    border-radius: 20px;

    margin: auto;

    transition: all .3s;
}

.popup p {
    margin: 0;
}

.close {
    position: relative;
    top: -5px;
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    transition: all .3s;
}

.close:hover {
    color: #000;
}


section{
    width: max-content;
    margin: 200px auto;
}

.flex{
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.flex > div{
    margin: auto;
}

.gauche{
    margin-right: 30px !important;
}

.droite{
    margin-left: 0px !important;
}

h1{
    margin-top: 40px;
    font-size: 30px;
    width: max-content;
    max-width: calc(100vw - 200px);
}

p{
    margin-top: 10px;
    font-size: 22px;
    max-width: calc(100vw - 200px);
}

.quantity{
    margin-top: 30px;

    width: 100px;
    height: 30px;
    text-align: center;

    border: 1px solid #000;

    border-radius: 5px;
}

.ajouter-panier {
    display: block;
    width: max-content;
    margin-top: 20px;
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #FFFFFF; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    padding: 15px; /* Ajouter un peu d'espace autour du texte */
    border-radius: 20px; /* Ajouter des bords arrondis */
    font-size: 15px; /* Taille de police */
    cursor: pointer; /* Changer le curseur en forme de main au survol */
    transition: background-color 0.3s ease; /* Ajouter une transition fluide lors du survol */
}

.ajouter-panier:hover {
    background-color: #0036d9; /* Changer la couleur de fond au survol */
}
