*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.blabla{
    width: 750px;
    margin: auto auto auto;
    font-size: 25px;
    text-align: center;
    align-items: center;
    padding: 45px;
    border: 5px solid #007bff;
    border-radius: 50px;
}

.header{
//position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 3%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
    background: #fffa;
//border-bottom: 2px solid #000;

    -webkit-box-shadow: 0 0 15px #0003;

    box-shadow: 0 0 15px #0003;
}

.logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 26px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-family: Consolas, serif;
}

.logo pre{
    color: #007bff;
}

.navbar > a,.navbar .account{
    font-size: 20px;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    border-bottom: 3px solid #0000;
    padding-top: 5px;
    padding-bottom: 5px;


    -webkit-transition: all .3s;


    -o-transition: all .3s;


    transition: all .3s;
}

.navbar a:hover{
    border-bottom: 2px solid #000;
}

.navbar a i{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.account{
    position: relative;
}

.account a{
    text-decoration: none;
    color: #000;
}

.plusaccount{
    position: absolute;
    z-index: -1;
    top: 40px;
    right: 0;

    background: #fff;
    padding: 5px;

    border: 1px solid #000;
    border-radius: 10px;

    width: 170px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;

    -webkit-transform: translate(50px,-100px);

    -ms-transform: translate(50px,-100px);

    transform: translate(50px,-100px);
    opacity: 0;

    -webkit-transition: all .3s;

    -o-transition: all .3s;

    transition: all .3s;
}

.account:hover .plusaccount{
    z-index: 2;
    display: block;
    opacity: 1;
    -webkit-transform: translate(50px,0);
    -ms-transform: translate(50px,0);
    transform: translate(50px,0);
}

.plusaccount a,.plusaccount span{
    display: block;
    text-align: center;
    padding: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
}