
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15%;
    margin-bottom: 15px;
}



.ajouter-panier {
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #000000; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    padding: 7px 14px; /* Ajouter un peu d'espace autour du texte */
    border-radius: 50px; /* Ajouter des bords arrondis */
    font-size: 15px; /* Taille de police */
    cursor: pointer; /* Changer le curseur en forme de main au survol */
    transition: background-color 0.3s ease; /* Ajouter une transition fluide lors du survol */
    opacity: 80%;
}

.ajouter-panier:hover {
    background-color: #0036d9; /* Changer la couleur de fond au survol */
}



.blablaproduit{
    width: 880px;
    margin: 100px auto;

    text-align: center;
    align-items: center;
    padding: 45px;
    border: 2px solid #007cff;
    border-radius: 50px;
    font-size: 15px; /* Taille de police */

}

.h3 {
    font-size: 15px;
}

.container >div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    /*flex: 1 0 33.333%; */
    /*max-width: 33.333%; */
    display: inline-block;
    margin: auto;
}

.card-body {
    margin: 5px 0;
    width: 250px;
}

.bouttondetail {
    display: block;
    width: max-content;
    margin: 0 auto 25px auto;
    text-decoration: none;
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #ffffff; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    padding: 10px 14px; /* Ajouter un peu d'espace autour du texte */
    border-radius: 50px; /* Ajouter des bords arrondis */
    font-size: 15px; /* Taille de police */
    cursor: pointer; /* Changer le curseur en forme de main au survol */
    transition: background-color 0.3s ease; /* Ajouter une transition fluide lors du survol */
    opacity: 80%;

}

#textnamecat {
    margin-bottom: 30px;
}

#nom-produit {
    margin-bottom: 20px;
}

#imgvtm {
    margin-bottom: 20px;
}