<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    {% block javascripts %}{% endblock %}
    <script src="{{ asset('assets/js/scripts.js') }}"></script>
</head>
<body>

{% include './footandhead/header.html.twig' %}

{% include './partials/flash.html.twig' %}

{% if app.user and app.user.isVerified == false %}

    <!---<div class="alert alert-warning alert-dismissible" role="alert"></div>
        <button type="button" class="btn-close" date-bs-dismiss="alert" aria-label="Close"></button>
        --->
    <div class="alert-message">
        <strong>Votre compte n'est pas activé</strong>, renvoyer le lien d'activation
    </div>
{% endif %}

{% block body %}{% endblock %}

{% include './footandhead/footer.html.twig' %}

</body>
</html>