{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
    <div class="center">
        <section class="error">
            <h1>Accès <pre> &lt;refusé/&gt;</pre></h1>
            <p>Vous n'avez pas les droits nécessaires</p>
        </section>
    </div>
{% endblock %}