{% extends 'base.html.twig' %}

{% block title %}Page Introuvable{% endblock %}

{% block body %}
    <div class="center">
        <section class="error">
            <h1>Erreur <pre> <404/></pre></h1>
            <p>Page introubale</p>
        </section>
    </div>
{% endblock %}